$color-primary-cyan: hsl(179, 62%, 43%);
$color-primary-cyan-light: #4abebd;
$color-primary-yellow: hsl(71, 73%, 54%);

$color-neutral-light: hsl(204, 43%, 93%);
$color-neutral-dark: hsl(218, 22%, 67%);

// Breakpoints

$bp-medium: 48em;
$bp-large: 62.16em;
$bp-larger: 120em;
